@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

@mixin col_width($cols, $times, $gutter) {
    width: calc( #{$times} * ( ( 100% - ( (#{$cols} - 1)  * #{$gutter} ) ) / #{$cols} ) + (#{$gutter} * ( #{$times} - 1)) );
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
  }